.foo {
    position: relative;
    left: 10%;
}

.icon {
    width: 50px;
    height: 50px;
}

.test {
    text-align: center;
}

.box1 {
   float: left;
   width:33.33333%;
   text-align:left;
}

.box2 {
      float: left;
      width:33.33333%;
      text-align:center
}

.box3 {
     float: left;
     width:33.33333%;
     text-align:right;
}

.negative {
    color: #d94040;
}

.positive {
    color: #009e73;
}

.bitcoin {
    color: orange;
}